/*------------------------------------*\
* Project: gs-participant
* Version: 1.0
\*------------------------------------*/

/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/*
 * TABLE OF CONTENTS
 * GENERAL ELEMENTS
 ** FORMS
 * HEADER
 ** MENUBAR
 * BODY
 ** DISTRIBUTION PAGE
 ** SLIDER
 ** LEFT
 ** RIGHT
 * FOOTER
 * ALERTS
 */






/*------------------------------------*\
    $GENERAL ELEMENTS
\*------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3B3B3D;
    font-size: 15px;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    color: #98C73D;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
}

h1 {
    font-size: 55px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom:20px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5,
h6 {
    font-size: 20px;
}

h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}


.gs-inlineblock {
    display: inline-block;
}

.gs-fleft {
    float: left;
}

.gs-fright {
    float: right;
}

.gs-clearboth {
    clear: both;
}
.gs-nostylelist {
    list-style: none;
}

.gs-bgblue {
    background: #00a9e0;
}

.gs-bggreen {
    background: #98c73d;
}

.gs-date {
    color: #666666;
    font-style: italic;
    font-size: 14px;
}


/*------------------------------*\
    $LAYOUT
\*------------------------------*/
.gs-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------*\
    $FORMS
\*------------------------------*/

input {
    background: #fff;
    border: none;
    border-radius:50px;
    color: #3B3B3D;
    height: 35px;
    min-width: 300px;
    padding: 3px 15px;
}

/*------------------------------*\
    $LINKS AND BUTTONS
\*------------------------------*/


a {
    text-decoration: none;
    color: #00A9E0 ;
}


a:active,
a:hover,
a:focus {
    color: #00A5D5 ;
}

a:visited {
    color: #7C7C7C
}

a.gs-button {
    background: #00A5D5 ;
    border:1px solid #0086B3;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    min-height: 40px;
    min-width: 150px;
    text-align: center;
    padding: 10px;
}


/*------------------------------*\
    $LISTS
\*------------------------------*/

.gs-imgtxtlist li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.gs-imgtxtlist li > img,
.gs-imgtxtlist li > div {
    float: left;
}

.gs-imgtxtlist li:last-child {
    border:none;
    padding-bottom:0;
}

.gs-imgtxtlist li h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.gs-imgtxtlist li img {
    border-radius: 100%;
    display: block;
    margin-right: 15px;
}

.gs-imgtxtlist li div {
    margin-bottom: 7px;
}

.gs-labeltxtlist     > li {
    margin-bottom: 10px;
}

.gs-labeltxtlist  li > span:first-child {
    font-weight: bold;
}


/*------------------------------*\
    $TABLES
\*------------------------------*/
table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    background: #002E6E;
    color: #fff;
    font-weight: normal;

}

table th,
table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table td {
    background: #F2F2F2;
}

/*------------------------------*\
    $NAVEGATION
\*------------------------------*/
.gs-breadcumb {
    background: #fff;
    border: 1px solid #CCC;
    line-height: 0;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 10px;
}

.gs-breadcumb li  {
    font-size: 16px;
    display: inline-block;
    margin-right: 3px;
}

.gs-breadcumb li:after {
    content: "/";
    display: inline-block;
}

.gs-breadcumb li a {
    color: #002D6D;
    display: inline-block;
    margin-right: 5px;
}

.gs-breadcumb li:first-child a {
    height: 13px;
    width: 16px;
}

.gs-breadcumb li:last-child {
    color: #444444 ;
}

.gs-breadcumb li:last-child:after {
    content:"";
}

.gs-pagination {
    text-align: center;
}

.gs-pagination li {
    display: inline-block;
    margin-right: -5px;
}

.gs-pagination li:first-child a {
    border-left:1px solid #ccc;
}

.gs-pagination li a {
    background: #fff;
    display: block;
    height: 52px;
    padding: 15px 20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.gs-pagination li a:hover,
.gs-pagination li.active a {
    border-bottom: 3px solid #002e6e;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/

body > header {
    background:#98C73D ;
    width: 100%;
    height: 50px;
}

body > header .gs-container .gs-fright > div,
body > header .gs-container .gs-fleft > div {
    float: left;
}

body > header .gs-container .gs-fleft > div:first-child {
    margin-right: 20px;
}

body > header .gs-container .gs-fleft > div .gs-button {
    margin-top: 3px;
}

body > header .gs-container .gs-fright > div input {
    background-image: url("../images/background-search.png");
    background-repeat: no-repeat;
    background-position: 270px center;
    margin-right: 10px;
    margin-top: 5px;
    padding-right: 40px;
}

body > header .gs-usermenu {
    background: #00a5d5;
    padding: 5px;
    height: 50px;
    width: 70px;
}

body > header .gs-usermenu img.gs-avatar {
    border-radius: 100%;
    width: 90%;
    height: auto;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
body > header .gs-usermenu img.gs-arrow {
    margin-bottom: 10px;
}

/*------------------------------------*\
    $BODY
\*------------------------------------*/
.gs-body > h1 {
    text-align: center;
}

/*----------------------------*\
    $PAGE - CAUSE
\*----------------------------*/
.gs-imagecause  {
    background: #EAEAEA;
    padding: 20px;
}
.gs-menucause {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
}

.gs-menucause li {
    display: inline-block;
    width: 130px;
    text-align: center;
}

.gs-menucause li.active a,
.gs-menucause li a:hover {
    border-bottom: 1px solid #98c73d;
}

.gs-content > .gs-fleft {
    width: 58%;
    margin-right: 2%;
}

.gs-content > .gs-fleft .gs-wellcomewords {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.gs-content > .gs-fleft > h2 {
    margin-top: 0;
}

.gs-updatelist .gs-update {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.gs-updatelist .gs-update:last-child {
    border-bottom: none;
}

.gs-updatelist .gs-update h3 {
    margin-top: 5px;
}

.gs-content > .gs-fright {
    width: 40%;
}

.gs-content > .gs-fright .gs-infocause ul {
    background: #DFF8FF;
    padding: 20px;
    margin-bottom: 20px;
}

.gs-content > .gs-fright .gs-people {
    padding: 20px;
}

.gs-content > .gs-fright .gs-goals .gs-progressbar {
    background: none repeat scroll 0 0 #555;
    border-radius: 25px;
    height: 20px;
    padding: 10px;
    position: relative;
}

.gs-content > .gs-fright .gs-goals .gs-progressbar > span {
    background: none repeat scroll 0 0 red;
    border-radius: 25px 0 0 25px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.gs-content > .gs-fright .gs-goals .gs-barcontainer {
    margin-bottom: 20px;
    text-align: center;
}

.gs-content > .gs-fright .gs-goals .gs-generalgoals .gs-progressbar+div {
    font-size: 30px;
}

.gs-barcontainer > div:first-child {
    margin-bottom: 10px;
}

.gs-goal > div:first-child {
    overflow: hidden;
    margin-bottom: 10px;
}

.gs-goalslist .gs-goal {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.gs-goalslist .gs-goal > div:first-child a{
    min-height: 30px;
    min-width: 90px;
    padding: 5px;
}

.gs-content > .gs-fright .gs-goalslist .gs-goal div.gs-progressbar {
    height: 10px;
    padding: 0;
}

/*----------------------------*\
    $PAGE - CAUSE - PARTICIPANTS
\*----------------------------*/

.gs-participant .gs-imgtxtlist li img {
    width: 100px;
}

.gs-participant .gs-imgtxtlist li h3 {
    margin-bottom: 5px;
}

.gs-participant .gs-imgtxtlist li .gs-status {
    overflow: hidden;
}

.gs-participant .gs-imgtxtlist li .gs-status > div {
    float: left;
}

.gs-participant .gs-imgtxtlist li .gs-status > div:first-child {
    margin-right: 10px;
}

.gs-participant .gs-imgtxtlist li .gs-status > div:last-child {
    border-radius: 5px;
    color: #fff;
    font-size:13px;
    padding: 5px;
}

/*----------------------------*\
    $PAGE - CAUSE - FOLLOWERS
\*----------------------------*/

.gs-followers .gs-imgtxtlist li img {
    width: 60px;
}

.gs-followers .gs-imgtxtlist h3 {
    margin-top: 10px;
}

/*----------------------------*\
    $PAGE - CAUSE - COMMENTS
\*----------------------------*/

.gs-comments .gs-imgtxtlist .gs-parentcomment {
    float: none;
    overflow: hidden;
}

.gs-comments .gs-imgtxtlist .gs-parentcomment > img {
    float: left;
    width: 60px;
}

.gs-comments .gs-imgtxtlist .gs-parentcomment > div {
    float: left;
    width: 445px;
}

.gs-comments .gs-imgtxtlist li h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.gs-comments .gs-imgtxtlist li > .gs-parentcomment + ul {
    padding-left: 75px;
}

.gs-comments .gs-imgtxtlist li > .gs-parentcomment + ul img {
    width: 45px;
}

.gs-comments .gs-imgtxtlist li > .gs-parentcomment + ul li > div {
    width: 385px;
}

/*----------------------------*\
    $PAGE - CAUSE - LOGBOOK
\*----------------------------*/

.gs-logbook .gs-imgtxtlist li > img {
    border-radius: 5px;
    width: 150px;
    padding: 3px;
    border: 1px solid #ccc;
}

.gs-logbook .gs-imgtxtlist li > div {
    width: 355px;
}

/*----------------------------*\
    $PAGE - CAUSE - DASHBOARD
\*----------------------------*/

.gs-dashboard > div {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.gs-dashboard > div h3 {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 15px;
}
.gs-dashboard > div > div {
    padding: 15px;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer.gs-menucause {
    border: none;
}
