<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/html5reset-1.6.1.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/custom-styles.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body ng-app="Cause" data-lift="Causes">
<div data-lift="embed?what=/templates-hidden/parts/header"></div>
<div class="gs-body" id="cause" ng-controller="CauseController">
    <h1 class="gs-container" data-name="name" data-lift="Story.name">
        Computación para todos
    </h1>
    <div class="gs-imagecause">
        <div class="gs-container " data-lift="Story.image">
            <div data-name="photo"><img src="/images/sample/causeimage.jpg" alt=""/></div>
        </div>
    </div>
    <div class="gs-menucause">
        <ul class="gs-container" data-lift="Causes.menus">
            <li><a data-name="updates" href="#">Updates</a></li>
            <li><a href="#" data-name="story">Story</a></li>
            <li><a href="#" data-name="contributors">Contributors</a></li>
            <li><a href="#" data-name="followers">Followers</a></li>
            <li><a href="#" data-name="comments">Comments</a></li>
            <li><a href="#" data-name="log">Log</a></li>
        </ul>
    </div>
    <div class="gs-content gs-container">
        <div class="gs-fleft" id="content">
            <div class="gs-wellcomewords" data-name="slogan">
                Descripción breve, debe ser atrayente y motivar a ue las peronas paticipen.
            </div>
            <div class="gs-titlebutton">
                <h2 class="gs-fleft">Updates</h2>
                <a href="#" class="gs-button gs-bsmall gs-bblue gs-fright">Add update</a>
            </div>
            <div class="gs-updatelist">
                <div class="gs-update" data-name="list">
                    <div data-name="register-date">13 de septiembre de 2015</div>
                    <h3 data-name="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                    <div data-name="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium, felis eget fringilla feugiat, tortor orci tincidunt odio, id egestas lacus neque sit amet justo. Nunc euismod quam eu arcu molestie, at dictum odio facilisis. Integer et enim augue. Maecenas vitae neque elit. Nam sit amet purus dui. Sed ac pharetra nisl, vitae pretium dui. </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium, felis eget fringilla feugiat, tortor orci tincidunt odio, id egestas lacus neque sit amet justo. Nunc euismod quam eu arcu molestie, at dictum odio facilisis. Integer et enim augue. Maecenas vitae neque elit. Nam sit amet purus dui. Sed ac pharetra nisl, vitae pretium dui.
                        </p>
                    </div>
                </div>
            </div>

            <!--<div data-lift="lift:Updates.paginate">
                <ul class="pagination">
                    <li class="prev"><a href="#">Prev</a></li>
                    <li class="first"><a href="#">First</a></li>
                    <li class="zoompagesleft disabled"><a href="#">...</a></li>
                    <li class="prevpages"><a class="page" href="#">2</a></li>
                    <li class="active"><a id="records" href="#">1</a> </li>
                    <li class="nextpages"><a class="page" href="#">2</a></li>
                    <li class="zoompagesright disabled"><a href="#">...</a></li>
                    <li class="last"><a href="#">Last</a></li>
                    <li class="next"><a href="#">Next</a></li>
                </ul>
            </div>-->

        </div>
        <div class="gs-fright">
            <div class="gs-infocause">
                <ul class="gs-labeltxtlist gs-nostylelist" >
                    <li>
                        <span>Oganizer:</span>
                        <span><a href="/user/{{cause.organizer.username}}">{{cause.organizer.name}}</a></span>
                    </li>
                    <li>
                        <span>Location:</span>
                        <span>{{cause.location}}, {{cause.country}}</span>
                    </li>
                    <li ng-show="cause.beneficiary != undefinied">
                        <span>Beneficiaries:</span>
                        <span>{{cause.beneficiary}}</span>
                    </li>
                    <li>
                        <span>Tags:</span>
                        <span ng-repeat="tag in cause.tags">{{tag}} </span>
                    </li>
                    <li>
                        <span>Coordination:</span>
                        <span>{{cause.endCoorDate.$dt | date : 'medium' }}</span>
                    </li>
                    <li>
                        <span>Implementation</span>
                        <span>{{cause.endExeDate.$dt | date : 'medium'}}</span>
                    </li>
                </ul>
                <ul class="gs-people gs-labeltxtlist gs-nostylelist gs-follcontrib">
                    <li>
                        <span>Contributors:</span>
                        <span>{{cause.totalContributors}}</span>
                    </li>
                    <li>
                        <span>Followers:</span>
                        <span>{{cause.totalFollowers}}</span>
                        <div class="gs-fright">
                            <a href="" class="gs-button" ng-show="!isFollower && isLogged" ng-click="openFollowModal()">Follow</a>
                            <a href="" class="gs-button" ng-show="isFollower && isLogged" ng-click="unfollow()">UnFollow</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gs-goals">
                <h2>Objetives</h2>
                <h3>General</h3>
                <div class="gs-generalgoals">
                    <div class="gs-barcontainer">
                        <div>Committed</div>
                        <div class="gs-progressbar">
                            <span ng-style="{'width': calcTotalPercentageCommitted()+'%'}"></span>
                        </div>
                        <div>{{calcTotalPercentageCommitted() | number:2}}%</div>
                    </div>
                    <div class="gs-barcontainer">
                        <div>Delivered</div>
                        <div class="gs-progressbar">
                            <span ng-style="{'width': calcTotalPercentageDelivered()+'%'}"></span>
                        </div>
                        <div>{{calcTotalPercentageDelivered() | number:2}}%</div>
                    </div>
                </div>
                <h3>Specific</h3>
                <ul class="gs-goalslist">
                    <li class="gs-goal" ng-repeat="resource in cause.resources">
                        <div>
                            <div class="gs-fleft">
                                {{resource.quantity}} {{resource.name}}
                            </div>
                            <div class="gs-fright">
                                <a href="" class="gs-button" ng-show="isLogged">Contribute</a>
                            </div>
                        </div>
                        <div>
                            <div ng-show="resource.showDetails">
                                <div class="gs-barcontainer">
                                    <div>Committed</div>
                                    <div class="gs-progressbar">
                                        <span ng-style="{'width': calcPercentageCommitted(resource)+'%'}"></span>
                                    </div>
                                    <div>{{calcPercentageCommitted(resource) | number:2}}%</div>
                                </div>
                                <div class="gs-barcontainer">
                                    <span>Delivered</span>
                                    <div class="gs-progressbar">
                                        <span ng-style="{'width': calcPercentageDelivered(resource)+'%'}"></span>
                                    </div>
                                    <div>{{calcPercentageDelivered(resource) | number:2}}%</div>
                                </div>
                            </div>
                            <a href="#" ng-click="showDetails(resource, $event)" ng-show="!resource.showDetails" class="gs-fright gs-button gs-bblue gs-bsmall">View Details</a>
                            <a href="#" ng-click="showDetails(resource, $event)" ng-show="resource.showDetails" class="gs-fright gs-button gs-bblue gs-bsmall">Hide Details</a>
                            <div class="gs-clearboth"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gs-clearboth"></div>
</div>
<script type="text/ng-template" id="followModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Follow options</h3>
    </div>
    <div class="modal-body">
        <input type="checkbox" ng-model="sms"> Sms notifications
        <input type="checkbox" ng-model="email"> Email notifications
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

</div>
<div data-lift="embed?what=/templates-hidden/parts/footer"></div>
<!-- javascript -->
<script src="/js/script.js"></script>
<script src="/scripts/angular.js"></script>
<script src="/scripts/angular-animate.js"></script>
<script src="/scripts/angular-route.js"></script>
<script src="/scripts/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="/scripts/underscore.js"></script>
<script src="/scripts/cause/cause.js"></script>
<script src="/scripts/cause/contributors.js"></script>
<script src="/scripts/cause/followers.js"></script>
</body>
</html>