<div data-lift="surround?with=cause-base;at=content">
    <h2>Contributors</h2>
    <div class="gs-participant" id="contributors" ng-controller="ContributorsController">
        <ul class="gs-nostylelist gs-imgtxtlist">
            <li ng-repeat="item in items">
                <img src="/images/user/profile/{{item.joinedUser._id}}" alt="{{item.joinedUser.name}}"/>
                <div>
                    <h3><a href="/user/{{item.joinedUser.username}}">{{item.joinedUser.name}}</a></h3>
                    <div class="gs-date">Hace 24 horas</div>
                    <div class="gs-status">
                        <div>10 cables</div>
                        <div class="gs-bgblue">Comprometido</div>
                    </div>
                </div>
            </li>
        </ul>
        <pagination total-items="count" ng-model="page" max-size="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>
</div>
