<div data-lift="surround?with=cause-base;at=content">
    <h2>Followers</h2>
    <div class="gs-followers" id="followers" ng-controller="FollowersController">
        <ul class="gs-nostylelist gs-imgtxtlist">
            <li ng-repeat="item in items">
                <div class="gs-image">
                    <img src="/images/user/profile/{{item.follower._id}}" alt="{{item.joinedUser.name}}"/>
                </div>
                <div class="gs-fleft">
                    <h3><a href="/user/{{item.follower.username}}">{{item.follower.name}}</a></h3>
                </div>
            </li>
        </ul>
        <!--<pagination total-items="count" ng-model="page" max-size="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false"></pagination>-->
    </div>
</div>
